<a href="https://colab.research.google.com/github/lroy002/CSC221_lroy002/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'redline', 'specialized']

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'redline', 'specialized']
print(bicycles [0])

trek

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'redline', 'specialized']
print(bicycles[0].title())

Trek

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
redline

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print (motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print(f'The last motorcycle I rode was a {last_owned.title()}.')

The last motorcycle I rode was a Suzuki.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print ("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [ ]:
# try it assignment starts here!

In [ ]:
friends = ['Amelaine', 'Brighton', ['Saige'], ['Emily']]
print(friends[0])

Amelaine

In [ ]:
friends = ['Amelaine', 'Brighton', ['Saige'], ['Emily']]
print(friends[1])

Brighton

In [ ]:
friends = ['Amelaine', 'Brighton', ['Saige'], ['Emily']]
print(friends[2])

['Saige']

In [ ]:
friends = ['Amelaine', 'Brighton', ['Saige'], ['Emily']]
print(friends[3])

['Emily']

In [ ]:
friends = ['Amelaine', 'Brighton', 'Saige', 'Emily']
message = "Hey, " + friends[0].title() + "!"
print(message)
message = "Hey, " + friends[1].title() + "!"
print(message)
message = "Hey, " + friends[2].title() + "!"
print(message)
message = "Hey, " + friends[3].title() + "!"
print(message)

Hey, Amelaine!
Hey, Brighton!
Hey, Saige!
Hey, Emily!

In [ ]:
transportation = ['car', 'bike', 'scooter']
message = "I would love to one day own a new " + transportation[0].title() + "."
print(message)
message = "I would love to one day own a new " + transportation[1].title() + "."
print(message)
message = "I would love to one day own a new " + transportation[2].title() + "."
print(message)

I would love to one day own a new Car.
I would love to one day own a new Bike.
I would love to one day own a new Scooter.

In [ ]:
guest = ['taylor swift', 'joe alwyn', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

Taylor Swift, please meet me for dinner this Friday
Joe Alwyn, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday

In [ ]:
guest = ['taylor swift', 'joe alwyn', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + " will not be at dinner this Friday" )


guest = ['taylor swift', 'Abigail Anderson', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

Taylor Swift, please meet me for dinner this Friday
Joe Alwyn, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
Joe Alwyn will not be at dinner this Friday
Taylor Swift, please meet me for dinner this Friday
Abigail Anderson, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday

In [ ]:
guest = ['taylor swift', 'joe alwyn', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + " will not be at dinner this Friday" )


guest = ['taylor swift', 'Abigail Anderson', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

print("I have found a bigger table for Friday night ")

guest.insert(3, 'Gigi Hadid')
guest.insert(4, 'Martha Hunt')
guest.insert(5, 'Emma Stone')

name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")
name = guest[3].title()
print(name + ", please meet me for dinner this Friday")

name = guest[4].title()
print(name + ", please meet me for dinner this Friday")

name = guest[5].title()
print(name + ", please meet me for dinner this Friday")

Taylor Swift, please meet me for dinner this Friday
Joe Alwyn, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
Joe Alwyn will not be at dinner this Friday
Taylor Swift, please meet me for dinner this Friday
Abigail Anderson, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
I have found a bigger table for Friday night
Taylor Swift, please meet me for dinner this Friday
Abigail Anderson, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
Gigi Hadid, please meet me for dinner this Friday
Martha Hunt, please meet me for dinner this Friday
Emma Stone, please meet me for dinner this Friday

In [ ]:
guest = ['taylor swift', 'joe alwyn', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + " will not be at dinner this Friday" )


guest = ['taylor swift', 'Abigail Anderson', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

print("I have found a bigger table for Friday night ")

guest.insert(3, 'Gigi Hadid')
guest.insert(4, 'Martha Hunt')
guest.insert(5, 'Emma Stone')

name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")
name = guest[3].title()
print(name + ", please meet me for dinner this Friday")

name = guest[4].title()
print(name + ", please meet me for dinner this Friday")

name = guest[5].title()
print(name + ", please meet me for dinner this Friday")

print("Oh no, theres only room for two guests")

name = guest.pop()
print("So sorry, " + name.title() + "there is not enough room at the table")

name = guest.pop()
print("So sorry, " + name.title() + "there is not enough room at the table")

name = guest.pop()
print("So sorry, " + name.title() + "there is not enough room at the table")

name = guest.pop()
print("So sorry,  " + name.title() + "there is not enough room at the table")

name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

del(guest[0])
del(guest[0])
print(guest)

Taylor Swift, please meet me for dinner this Friday
Joe Alwyn, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
Joe Alwyn will not be at dinner this Friday
Taylor Swift, please meet me for dinner this Friday
Abigail Anderson, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
I have found a bigger table for Friday night
Taylor Swift, please meet me for dinner this Friday
Abigail Anderson, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday
Gigi Hadid, please meet me for dinner this Friday
Martha Hunt, please meet me for dinner this Friday
Emma Stone, please meet me for dinner this Friday
Oh no, theres only room for two guests
So sorry, Emma Stonethere is not enough room at the table
So sorry, Martha Huntthere is not enough room at the table
So sorry, Gigi Hadidthere is not enough room at the table
So sorry,  Selena Gomezthere is not enough room at the table
Taylor Swift, please meet me for dinner this Friday
Abigail Anderson, please meet me for dinner this Friday
[]

In [ ]:
travel = ['Hawaii', 'Greece', 'Alaska', 'Puerto Rico', 'Iceland']
print(travel)

print("\nAlphabetical:")
print(sorted(travel))

print("\nOriginal order:")
print(travel)

print("\nReverse alphabetical:")
print(sorted(travel, reverse = True))

print("\nOriginal order:")
print(travel)

print("\nReversed:")
travel.reverse()
print(travel)

print("\nOriginal order:")
travel.reverse()
print(travel)

print("\nAlphabetical:")
travel.sort()
print(travel)

print("\nReverse alphabetical:")
travel.sort(reverse = True)
print (travel)

['Hawaii', 'Greece', 'Alaska', 'Puerto Rico', 'Iceland']

Alphabetical:
['Alaska', 'Greece', 'Hawaii', 'Iceland', 'Puerto Rico']

Original order:
['Hawaii', 'Greece', 'Alaska', 'Puerto Rico', 'Iceland']

Reverse alphabetical:
['Puerto Rico', 'Iceland', 'Hawaii', 'Greece', 'Alaska']

Original order:
['Hawaii', 'Greece', 'Alaska', 'Puerto Rico', 'Iceland']

Reversed:
['Iceland', 'Puerto Rico', 'Alaska', 'Greece', 'Hawaii']

Original order:
['Hawaii', 'Greece', 'Alaska', 'Puerto Rico', 'Iceland']

Alphabetical:
['Alaska', 'Greece', 'Hawaii', 'Iceland', 'Puerto Rico']

Reverse alphabetical:
['Puerto Rico', 'Iceland', 'Hawaii', 'Greece', 'Alaska']

In [ ]:
guest = ['taylor swift', 'joe alwyn', 'selena gomez']
name = guest[0].title()
print(name + ", please meet me for dinner this Friday")

name = guest[1].title()
print(name + ", please meet me for dinner this Friday")

name = guest[2].title()
print(name + ", please meet me for dinner this Friday")

len(guest)

Taylor Swift, please meet me for dinner this Friday
Joe Alwyn, please meet me for dinner this Friday
Selena Gomez, please meet me for dinner this Friday

3

In [ ]:
cats = ['Penny', 'Gidget', 'Blu', 'Shy', 'Spinach']
print(cats)
#sorting my alphabetical/reversed
print("\nAlphabetical:")
print(sorted(cats))

print("\nReverse alphabetical:")
print(sorted(cats, reverse = True))
#switching to message
name = cats[0].title()
print(name + ", you are a very special cat")
name = cats[1].title()
print(name + ", you are a very special cat")
name = cats[2].title()
print(name + ", you are a very special cat")
name = cats[3].title()
print(name + ", you are a very special cat")
name = cats[4].title()
print(name + ", you are a very special cat")

['Penny', 'Gidget', 'Blu', 'Shy', 'Spinach']

Alphabetical:
['Blu', 'Gidget', 'Penny', 'Shy', 'Spinach']

Reverse alphabetical:
['Spinach', 'Shy', 'Penny', 'Gidget', 'Blu']
Penny, you are a very special cat
Gidget, you are a very special cat
Blu, you are a very special cat
Shy, you are a very special cat
Spinach, you are a very special cat

In [1]:
for number in range(60, 86):
    if number % 7 == 0:
        print(number ** 3)

250047
343000
456533
592704

In [2]:
x_values = [40, 50, 120, -8, 6]
for x in x_values:
    y = 7.4 * x + 51
    print(f"y = 7.4*{x} + 51: {y}")

y = 7.4*40 + 51: 347.0
y = 7.4*50 + 51: 421.0
y = 7.4*120 + 51: 939.0
y = 7.4*-8 + 51: -8.200000000000003
y = 7.4*6 + 51: 95.4